// comic tpl
html
    head
        link(href="../tpl/style.css" rel="stylesheet")
    body
        div.comic-wrap
            - for(var i = 0; i < data.length; i++)
                div.comic-con
                    img(src=`${data[i]}`)
