// comic tpl
doctype html
html
    head
        block head
            style(src="./style.css")
    body
        div.comic-wrap
            - for(var i = 0; i < #{data}.length; i++)
            img(src="#{data}[i]")
