// comic tpl
html
    head
        style(src="../tpl/style.css")
    body
        div.comic-wrap
            - for(var i = 0; i < data.length; i++)
                div
                    img(src=`${data[i]}`)
